.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
    color:yellow;
  }
   
  
   .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
   
  .stars-inner {
    width: 0;
  }

  .starItem,.stars-outer{
    display:inline;

  }
 